/*----RESET-----*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    
}

/*-----------Main------------*/

h1 {
    font-family: 'Satisfy', serif;
    font-size: 6em;
    color: #A6B1A8;
    text-shadow: 2px 2px #1D2434;
    padding-top: 300px;
    text-transform: none;
    
}

h2{
    margin-left: 100px;
    margin-top: 90px;
    margin-bottom: 20px;
}

p{
    font-family: 'Roboto', serif;
    margin-left: 100px;
    margin-right: 100px;
}

/*----------------header---------*/

.container {
    
    height: 760px;
    background-image: url(pictures/banner.jpg)
    
}


.container2 {
    
    height: 100px;
    background-color: #2C374C;
    
}


