/*----RESET-----*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open sans', sans-serif;
    letter-spacing: 0.1em;
    
}

.container {
    border: 2px solid goldenrod;
}

h1 {
     position: absolute;
    z-index: -1;
    color: black;
    font-size: 6em;
}

h2{
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 6em;
}

h3 {
    text-align: right;
    color: orangered;
    font-size: 3em;
}