/*----RESET-----*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open sans', sans-serif;
    letter-spacing: 0.1em;
    
}

.container {
    border: 2px solid goldenrod;
}

h1 {
    
    color: black;
    position: absolute;
    z-index: -1;
    left: 360px;
    font-family: "Archivo Black", sans-serif;
    font-size: 20em;
    letter-spacing: -50px;
    margin-top: -90px;
}

h2 {
    color: white;
    font-size: 20em;
    font-family: "Archivo Black", sans-serif;
    position: absolute;
    z-index: 2;
    top: 76px;
    left: 420px;
}

h3 {
    text-align:right;
    font-size: 4em;
    color: orangered;
    margin-right: 684px;
    margin-bottom: -45px;


    
}

.hel{
    margin-top: 40px;
}


p{
    font-size: 0.4em;
    padding-left: 586px;
    padding-right: 600px;
    margin-top: 270px;
    margin-right: 30px;
}